.theme {
    background-color: #2e3032;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.set-margin-top {
    margin-top: 20px;
}

.border-setting {
    width: 90%;
    border: 1px solid white;
    border-radius: 3px;
    margin: 0 auto;
    background-color: white;
    -moz-box-shadow: 4px 4px 3px rgba(80%, 80%, 80%, 0.5);
    -webkit-box-shadow: 4px 4px 3px rgba(80%, 80%, 80%, 0.5);
    box-shadow: 4px 4px 3px rgba(80%, 80%, 80%, 0.5);
}

.pagination-setting {
    width: 90%;
    margin: 0 auto;
}

.fix {
    clear: both;
    margin-bottom: 20px;
}