.theme {
    background-color: #2e3032;
}

.set-margin-top {
    margin-top: 20px;
}

.set-left {
    height: 90%;
    clear: both;
}

.content {
    width: 100%;

    padding: 5px;

    background-color: white;
    border-radius: 3px;
}

.set-margin-top {
    margin: 10px auto;
}

img {
    width: 80%;
    margin: 10px auto;
}

input[type='file'] {
    width: 68px;
    height: 23px;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: medium none;
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    left: 0px;
    top: 0px;
}